.mission-slide-left {
    animation: slideFromLeft 1s ease-in-out;
}

.vision-slide-right {
    animation: slideFromRight 1s ease-in-out;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight{
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}